@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-lexend-deca: "Lexend Deca";
  --font-inter: Inter;
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-5xs-2: 7.2px;
  --font-size-4xs-3: 8.3px;
  --font-size-2xs-1: 10.1px;
  --font-size-11xl-3: 30.3px;
  --font-size-lgi-2: 19.2px;
  --font-size-3xs-5: 9.5px;
  --font-size-5xs-8: 7.8px;
  --font-size-5xs-4: 7.4px;
  --font-size-5xs-7: 7.7px;
  --font-size-5xs-9: 7.9px;
  --font-size-4xs-9: 8.9px;
  --font-size-5xs-5: 7.5px;
  --font-size-5xs: 8px;
  --font-size-4xs-7: 8.7px;
  --font-size-2xs-2: 10.2px;
  --font-size-smi-3: 12.3px;
  --font-size-17xl-9: 36.9px;
  --font-size-4xl-4: 23.4px;
  --font-size-xs-6: 11.6px;
  --font-size-3xs-4: 9.4px;
  --font-size-3xs-7: 9.7px;
  --font-size-2xs-9: 10.9px;
  --font-size-4xs: 9px;
  --font-size-3xs-6: 9.6px;
  --font-size-3xs-2: 9.2px;
  --font-size-3xs-8: 9.8px;
  --font-size-3xs: 10px;
  --font-size-xs-1: 11.1px;
  --font-size-6xl: 25px;
  --font-size-lg-9: 18.9px;
  --font-size-smi-5: 12.5px;
  --font-size-2xs-4: 10.4px;
  --font-size-sm-9: 13.9px;
  --font-size-12xl-2: 31.2px;
  --font-size-4xl-6: 23.6px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-mini: 15px;
  --font-size-xl: 20px;
  --font-size-26xl: 45px;
  --font-size-15xl: 34px;
  --font-size-xs-8: 11.8px;
  --font-size-8xl-5: 27.5px;
  --font-size-3xs-3: 9.3px;
  --font-size-smi: 13px;
  --font-size-8xs-7: 4.7px;
  --font-size-6xs-9: 6.9px;
  --font-size-8xs-5: 4.5px;
  --font-size-6xs-2: 6.2px;
  --font-size-3xs-1: 9.1px;
  --font-size-8xs-3: 4.3px;
  --font-size-7xs-2: 5.2px;
  --font-size-mini-5: 14.5px;
  --font-size-8xs-9: 4.9px;
  --font-size-9xs-9: 3.9px;
  --font-size-8xs-6: 4.6px;
  --font-size-6xs-5: 6.5px;
  --font-size-2xs-3: 10.3px;
  --font-size-sm-2: 13.2px;
  --font-size-2xs: 11px;
  --font-size-11xl-9: 30.9px;
  --font-size-2xs-5: 10.5px;
  --font-size-2xl: 21px;
  --font-size-base-4: 16.4px;
  --font-size-3xs-9: 9.9px;
  --font-size-sm-8: 13.8px;
  --font-size-3xl-1: 22.1px;
  --font-size-base-5: 16.5px;
  --font-size-sm-7: 13.7px;
  --font-size-19xl-5: 38.5px;
  --font-size-sm-1: 13.1px;
  --font-size-7xl-1: 26.1px;
  --font-size-smi-4: 12.4px;
  --font-size-mid-2: 17.2px;
  --font-size-5xl: 24px;
  --font-size-37xl: 56px;
  --font-size-lgi: 19px;
  --font-size-19xl: 38px;
  --font-size-9xl: 28px;
  --font-size-21xl: 40px;
  --font-size-6xs-1: 6.1px;
  --font-size-base-9: 15.9px;
  --font-size-mid-6: 17.6px;
  --font-size-base-8: 16.8px;
  --font-size-14xl-7: 33.7px;
  --font-size-4xs-2: 8.2px;
  --font-size-lg-8: 18.8px;
  --font-size-xl-9: 20.9px;
  --font-size-4xs-1: 8.1px;
  --font-size-5xs-1: 7.1px;
  --font-size-smi-2: 12.2px;
  --font-size-base-1: 15.1px;
  --font-size-25xl-7: 44.7px;
  --font-size-xs-3: 11.3px;
  --font-size-4xs-8: 8.8px;
  --font-size-xl-8: 20.8px;
  --font-size-lg-7: 18.7px;
  --font-size-36xl-5: 55.5px;
  --font-size-base-3: 16.3px;
  --font-size-smi-7: 12.7px;
  --font-size-2xl-8: 21.8px;
  --font-size-8xl: 27px;
  --font-size-11xl: 30px;
  --font-size-61xl: 80px;
  --font-size-mini-8: 14.8px;
  --font-size-sm: 14px;
  --font-size-lgi-7: 19.7px;
  --font-size-46xl: 65px;
  --font-size-5xs-6: 7.6px;
  --font-size-3xl: 22px;
  --font-size-xs: 12px;
  --font-size-smi-1: 12.1px;
  --font-size-mid: 17px;
  --font-size-smi-9: 12.9px;
  --font-size-41xl: 60px;
  --font-size-6xs-6: 6.6px;
  --font-size-2xl-1: 21.1px;
  --font-size-4xs-4: 8.4px;
  --font-size-mini-4: 14.4px;
  --font-size-44xl: 63px;
  --font-size-9xs: 4px;
  --font-size-mid-5: 17.5px;
  --font-size-7xs-6: 5.6px;
  --font-size-12xs-6: 0.6px;
  --font-size-10xs-6: 2.6px;
  --font-size-11xs-7: 1.7px;
  --font-size-11xs: 2px;
  --font-size-9xs-6: 3.6px;
  --font-size-xs-9: 11.9px;
  --font-size-mid-1: 17.1px;
  --font-size-53xl: 72px;
  --font-size-13xl: 32px;
  --font-size-71xl: 90px;
  --font-size-4xl-3: 23.3px;
  --font-size-167xl-4: 186.4px;
  --font-size-xs-7: 11.7px;
  --font-size-6xl-1: 25.1px;
  --font-size-31xl-9: 50.9px;
  --font-size-8xs-1: 4.1px;
  --font-size-9xs-2: 3.2px;
  --font-size-7xs: 6px;
  --font-size-7xs-4: 5.4px;
  --font-size-4xs-6: 8.6px;
  --font-size-xs-5: 11.5px;
  --font-size-6xs-3: 6.3px;
  --font-size-7xs-5: 5.5px;
  --font-size-8xl-9: 27.9px;
  --font-size-sm-3: 13.3px;
  --font-size-7xl-7: 26.7px;
  --font-size-mini-7: 14.7px;
  --font-size-9xs-1: 3.1px;
  --font-size-xs-2: 11.2px;
  --font-size-5xl-2: 24.2px;
  --font-size-19xl-4: 38.4px;
  --font-size-lg-3: 18.3px;
  --font-size-sm-5: 13.5px;
  --font-size-7xs-1: 5.1px;
  --font-size-21xl-9: 40.9px;
  --font-size-8xs-8: 4.8px;
  --font-size-19xl-1: 38.1px;
  --font-size-7xs-7: 5.7px;
  --font-size-26xl-3: 45.3px;
  --font-size-84xl-6: 103.6px;
  --font-size-111xl-1: 130.1px;
  --font-size-7xs-3: 5.3px;
  --font-size-2xs-6: 10.6px;
  --font-size-base-6: 15.6px;
  --font-size-17xl-2: 36.2px;
  --font-size-lgi-5: 19.5px;
  --font-size-26xl-4: 45.4px;
  --font-size-9xl-3: 28.3px;
  --font-size-16xl-6: 35.6px;
  --font-size-6xs-8: 6.8px;
  --font-size-6xs: 7px;
  --font-size-10xl-3: 29.3px;
  --font-size-base-7: 16.7px;
  --font-size-47xl-9: 66.9px;
  --font-size-64xl-3: 83.3px;
  --font-size-101xl: 120px;
  --font-size-16xl-7: 35.7px;
  --font-size-32xl: 51px;
  --font-size-39xl-3: 58.3px;
  --font-size-38xl-1: 57.1px;
  --font-size-lg-4: 18.4px;
  --font-size-43xl-1: 62.1px;
  --font-size-52xl: 71px;
  --font-size-47xl-7: 66.7px;
  --font-size-76xl-1: 95.1px;
  --font-size-181xl: 200px;

  /* Colors */
  --color-darkolivegreen-100: #5b4707;
  --color-darkolivegreen-200: #163707;
  --color-darkolivegreen-300: #12370a;
  --color-darkolivegreen-400: #13340c;
  --color-darkolivegreen-500: #05310b;
  --color-white: #fff;
  --color-gainsboro-100: #e4e4e4;
  --color-gainsboro-200: #dedddd;
  --color-gainsboro-300: #d9d9d9;
  --color-darkgray-100: #bda7a7;
  --color-darkgray-200: #9599a3;
  --color-seagreen-100: #358f43;
  --color-seagreen-200: rgba(59, 147, 81, 0.4);
  --color-seagreen-300: rgba(53, 143, 67, 0.3);
  --color-seagreen-400: rgba(53, 143, 67, 0.8);
  --color-gray-100: #fffdfd;
  --color-gray-200: #fcfcfc;
  --color-gray-300: #7d7c7c;
  --color-gray-400: #172310;
  --color-gray-500: #10220b;
  --color-gray-600: rgba(37, 37, 37, 0.2);
  --color-gray-700: rgba(33, 33, 34, 0.8);
  --color-gray-800: rgba(255, 255, 255, 0.06);
  --color-gray-900: rgba(255, 255, 255, 0.8);
  --color-gray-1000: rgba(5, 5, 5, 0.06);
  --color-gray-1100: rgba(255, 255, 255, 0.1);
  --color-gray-1200: rgba(255, 255, 255, 0.07);
  --color-gray-1300: rgba(255, 255, 255, 0.45);
  --color-gray-1400: rgba(255, 255, 255, 0.5);
  --color-gray-1500: rgba(255, 255, 255, 0.6);
  --color-gray-1600: rgba(125, 124, 124, 0.6);
  --color-gray-1700: rgba(255, 255, 255, 0.16);
  --color-goldenrod-100: #feca3a;
  --color-goldenrod-200: #f0c024;
  --color-goldenrod-300: rgba(240, 192, 36, 0.8);
  --color-goldenrod-400: rgba(240, 192, 36, 0.6);
  --color-goldenrod-500: rgba(240, 192, 36, 0.7);
  --color-goldenrod-600: rgba(240, 192, 36, 0.4);
  --color-darkslategray-100: #003a2b;
  --color-darkslategray-200: #002a24;
  --color-darkslategray-300: rgba(0, 58, 43, 0.5);
  --color-darkslategray-400: rgba(58, 58, 58, 0.75);
  --color-darkslategray-500: rgba(0, 58, 43, 0.8);
  --color-dimgray-100: #515151;
  --color-dimgray-200: rgba(103, 72, 64, 0.24);
  --color-dimgray-300: rgba(81, 81, 81, 0);
  --color-darkslateblue: rgba(48, 57, 99, 0.24);
  --color-black: #000;
  --color-whitesmoke-100: #f5f5f5;
  --color-whitesmoke-200: #ececec;
  --color-yellowgreen-100: #c3db33;
  --color-yellowgreen-200: #bbd432;
  --color-olivedrab-100: #9eb032;
  --color-forestgreen-100: #037b20;
  --color-honeydew-100: #edffef;
  --color-sandybrown: #ffa247;

  /* Gaps */
  --gap-4xs-2: 8.2px;
  --gap-9xs-3: 3.3px;
  --gap-smi-1: 12.1px;
  --gap-2xs-1: 10.1px;
  --gap-7xs: 6px;
  --gap-6xl-6: 25.6px;
  --gap-5xs-8: 7.8px;
  --gap-7xs-9: 5.9px;
  --gap-9xs-6: 3.6px;
  --gap-11xs-9: 1.9px;
  --gap-5xs-5: 7.5px;
  --gap-2xs: 11px;
  --gap-3xs: 10px;
  --gap-9xs: 4px;
  --gap-mini-8: 14.8px;
  --gap-smi-3: 12.3px;
  --gap-5xs-3: 7.3px;
  --gap-smi-4: 12.4px;
  --gap-12xl-2: 31.2px;
  --gap-81xl: 100px;
  --gap-5xs-2: 7.2px;
  --gap-8xs: 5px;
  --gap-8xs-4: 4.4px;
  --gap-90xl: 109px;
  --gap-10xs-3: 2.3px;
  --gap-3xs-2: 9.2px;
  --gap-smi: 13px;
  --gap-0: 0px;
  --gap-5xl-4: 24.4px;
  --gap-7xs-6: 5.6px;
  --gap-3xs-4: 9.4px;
  --gap-4xl-9: 23.9px;
  --gap-3xl-2: 22.2px;
  --gap-11xs-7: 1.7px;
  --gap-11xs-1: 1.1px;
  --gap-lg-9: 18.9px;
  --gap-9xs-9: 3.9px;
  --gap-4xs-9: 8.9px;
  --gap-10xs-2: 2.2px;
  --gap-4xs-3: 8.3px;
  --gap-11xl-6: 30.6px;
  --gap-6xs-9: 6.9px;
  --gap-xs-8: 11.8px;
  --gap-10xl-9: 29.9px;
  --gap-8xl-8: 27.8px;
  --gap-10xs-1: 2.1px;
  --gap-11xs-4: 1.4px;
  --gap-4xl-6: 23.6px;
  --gap-8xs-9: 4.9px;
  --gap-xs-1: 11.1px;
  --gap-10xs-8: 2.8px;
  --gap-25xl: 44px;
  --gap-mid: 17px;
  --gap-24xl: 43px;
  --gap-21xl: 40px;
  --gap-10xs: 3px;
  --gap-11xs: 2px;
  --gap-15xl: 34px;
  --gap-6xs: 7px;
  --gap-base: 16px;
  --gap-5xs: 8px;
  --gap-7xs-2: 5.2px;
  --gap-10xs-6: 2.6px;
  --gap-11xs-3: 1.3px;
  --gap-7xs-5: 5.5px;
  --gap-sm-7: 13.7px;
  --gap-9xs-4: 3.4px;
  --gap-xl: 20px;
  --gap-6xl-3: 25.3px;
  --gap-base-2: 15.2px;
  --gap-8xs-2: 4.2px;
  --gap-10xs-9: 2.9px;
  --gap-11xl: 30px;
  --gap-lg: 18px;
  --gap-6xs-7: 6.7px;
  --gap-9xs-5: 3.5px;
  --gap-mid-7: 17.7px;
  --gap-6xs-6: 6.6px;
  --gap-xs-2: 11.2px;
  --gap-3xl: 22px;
  --gap-sm-9: 13.9px;
  --gap-4xs: 9px;
  --gap-12xl-7: 31.7px;
  --gap-xs-9: 11.9px;
  --gap-sm: 14px;
  --gap-73xl: 92px;
  --gap-61xl: 80px;
  --gap-57xl: 76px;
  --gap-23xl: 42px;
  --gap-58xl: 77px;
  --gap-6xl: 25px;
  --gap-xs-5: 11.5px;
  --gap-sm-2: 13.2px;
  --gap-4xl: 23px;
  --gap-mini: 15px;
  --gap-41xl: 60px;
  --gap-9xl: 28px;
  --gap-mid-4: 17.4px;
  --gap-163xl-6: 182.6px;
  --gap-sm-3: 13.3px;
  --gap-8xs-3: 4.3px;
  --gap-xl-4: 20.4px;
  --gap-base-6: 16.6px;
  --gap-12xl: 31px;
  --gap-30xl-7: 49.7px;
  --gap-20xl-3: 39.3px;
  --gap-29xl-5: 48.5px;
  --gap-17xl-4: 36.4px;
  --gap-24xl-3: 43.3px;
  --gap-5xl-7: 24.7px;
  --gap-base-9: 16.9px;
  --gap-18xl-4: 37.4px;
  --gap-xs: 12px;
  --gap-18xl-3: 37.3px;
  --gap-25xl-4: 44.4px;
  --gap-82xl-5: 101.5px;
  --gap-108xl-5: 127.5px;
  --gap-10xs-5: 2.5px;
  --gap-6xs-5: 6.5px;
  --gap-11xs-6: 1.6px;
  --gap-14xl: 33px;
  --gap-2xs-6: 10.6px;
  --gap-20xl-1: 39.1px;
  --gap-6xs-1: 6.1px;
  --gap-28xl-8: 47.8px;
  --gap-5xs-4: 7.4px;
  --gap-41xl-2: 60.2px;
  --gap-3xs-3: 9.3px;
  --gap-6xs-8: 6.8px;
  --gap-xs-3: 11.3px;
  --gap-10xs-4: 2.4px;
  --gap-lg-6: 18.6px;
  --gap-9xl-7: 28.7px;
  --gap-base-7: 16.7px;
  --gap-36xl-8: 55.8px;
  --gap-23xl-4: 42.4px;
  --gap-7xl-8: 26.8px;
  --gap-xl-8: 20.8px;
  --gap-50xl-4: 69.4px;
  --gap-33xl-8: 52.8px;
  --gap-14xl-3: 33.3px;
  --gap-29xl: 48px;
  --gap-4xs-1: 8.1px;
  --gap-3xs-5: 9.5px;
  --gap-2xs-9: 10.9px;
  --gap-3xl-8: 22.8px;
  --gap-5xl: 24px;

  /* Paddings */
  --padding-4xs-2: 8.2px;
  --padding-51xl-5: 70.5px;
  --padding-smi-6: 12.6px;
  --padding-6xl-2: 25.2px;
  --padding-8xs: 5px;
  --padding-10xs: 3px;
  --padding-xs-9: 11.9px;
  --padding-2xs-4: 10.4px;
  --padding-mini-8: 14.8px;
  --padding-3xs: 10px;
  --padding-67xl: 86px;
  --padding-base-3: 16.3px;
  --padding-11xl-7: 30.7px;
  --padding-6xs-2: 6.2px;
  --padding-9xs-6: 3.6px;
  --padding-mini-5: 14.5px;
  --padding-smi-7: 12.7px;
  --padding-lg-1: 18.1px;
  --padding-21xl: 40px;
  --padding-92xl-1: 111.1px;
  --padding-7xs-6: 5.6px;
  --padding-64xl-3: 83.3px;
  --padding-101xl: 120px;
  --padding-97xl: 116px;
  --padding-base-7: 15.7px;
  --padding-25xl-4: 44.4px;
  --padding-3xl-2: 22.2px;
  --padding-10xs-8: 2.8px;
  --padding-xs-1: 11.1px;
  --padding-3xs-7: 9.7px;
  --padding-sm-8: 13.8px;
  --padding-sm-9: 13.9px;
  --padding-8xl-7: 27.7px;
  --padding-119xl-9: 138.9px;
  --padding-6xs-9: 6.9px;
  --padding-85xl-1: 104.1px;
  --padding-xl-8: 20.8px;
  --padding-36xl-5: 55.5px;
  --padding-8xl-8: 27.8px;
  --padding-9xs-5: 3.5px;
  --padding-smi-1: 12.1px;
  --padding-mid-3: 17.3px;
  --padding-15xl-6: 34.6px;
  --padding-131xl: 150px;
  --padding-181xl: 200px;
  --padding-11xl: 30px;
  --padding-61xl: 80px;
  --padding-lgi-9: 19.9px;
  --padding-mid-4: 17.4px;
  --padding-5xl-9: 24.9px;
  --padding-xl: 20px;
  --padding-6xl: 25px;
  --padding-30xl-9: 49.9px;
  --padding-mini: 15px;
  --padding-base-5: 15.5px;
  --padding-7xs-2: 5.2px;
  --padding-14xl-1: 33.1px;
  --padding-2xs: 11px;
  --padding-22xl-2: 41.2px;
  --padding-sm-7: 13.7px;
  --padding-41xl: 60px;
  --padding-2xs-1: 10.1px;
  --padding-5xs-8: 7.8px;
  --padding-8xs-3: 4.3px;
  --padding-2xs-8: 10.8px;
  --padding-xs-7: 11.7px;
  --padding-5xs-4: 7.4px;
  --padding-10xs-2: 2.2px;
  --padding-4xs-4: 8.4px;
  --padding-7xs-9: 5.9px;
  --padding-8xs-1: 4.1px;
  --padding-xs: 12px;
  --padding-3xs-8: 9.8px;
  --padding-3xs-3: 9.3px;
  --padding-7xs-1: 5.1px;
  --padding-smi-9: 12.9px;
  --padding-4xs-7: 8.7px;
  --padding-10xs-6: 2.6px;
  --padding-6xs: 7px;
  --padding-8xs-9: 4.9px;
  --padding-3xs-6: 9.6px;
  --padding-3xs-1: 9.1px;
  --padding-4xs-1: 8.1px;
  --padding-6xs-1: 6.1px;
  --padding-4xs-6: 8.6px;
  --padding-10xs-5: 2.5px;
  --padding-xs-2: 11.2px;
  --padding-9xs-9: 3.9px;
  --padding-22xl-6: 41.6px;
  --padding-119xl-7: 138.7px;
  --padding-xs-3: 11.3px;
  --padding-6xs-3: 6.3px;
  --padding-mid: 17px;
  --padding-5xs-5: 7.5px;
  --padding-2xs-7: 10.7px;
  --padding-9xs-1: 3.1px;
  --padding-mid-2: 17.2px;
  --padding-3xl-7: 22.7px;
  --padding-5xl-5: 24.5px;
  --padding-2xs-9: 10.9px;
  --padding-base-4: 15.4px;
  --padding-8xs-5: 4.5px;
  --padding-sm: 14px;
  --padding-31xl: 50px;
  --padding-71xl: 90px;
  --padding-16xl: 35px;
  --padding-6xs-4: 6.4px;
  --padding-81xl: 100px;
  --padding-18xl: 37px;
  --padding-17xl: 36px;
  --padding-19xl: 38px;
  --padding-77xl-9: 96.9px;
  --padding-151xl-5: 170.5px;
  --padding-9xs-7: 3.7px;
  --padding-87xl-2: 106.2px;
  --padding-5xs-7: 7.7px;
  --padding-2xl-5: 21.5px;
  --padding-9xs: 4px;
  --padding-2xl-2: 21.2px;
  --padding-33xl-3: 52.3px;
  --padding-7xs-5: 5.5px;
  --padding-7xl: 26px;
  --padding-8xs-8: 4.8px;
  --padding-7xs-8: 5.8px;
  --padding-2xl-3: 21.3px;
  --padding-18xl-4: 37.4px;
  --padding-12xs-8: 0.8px;
  --padding-lgi-8: 19.8px;
  --padding-15xl-9: 34.9px;
  --padding-2xl-7: 21.7px;
  --padding-4xl-6: 23.6px;
  --padding-22xl-5: 41.5px;
  --padding-12xs-9: 0.9px;
  --padding-6xl-8: 25.8px;
  --padding-34xl-8: 53.8px;
  --padding-75xl-8: 94.8px;
  --padding-10xs-1: 2.1px;
  --padding-40xl: 59px;
  --padding-48xl-6: 67.6px;
  --padding-100xl: 119px;
  --padding-55xl-1: 74.1px;
  --padding-45xl-2: 64.2px;
  --padding-mid-6: 17.6px;
  --padding-54xl: 73px;
  --padding-9xs-8: 3.8px;
  --padding-7xl-7: 26.7px;
  --padding-39xl-8: 58.8px;
  --padding-12xl-7: 31.7px;
  --padding-50xl-8: 69.8px;
  --padding-16xl-6: 35.6px;
  --padding-92xl-2: 111.2px;
  --padding-25xl-8: 44.8px;
  --padding-121xl: 140px;
  --padding-45xl: 64px;
  --padding-base-1: 16.1px;
  --padding-24xl-7: 43.7px;
  --padding-22xl-1: 41.1px;
  --padding-11xs: 2px;
  --padding-mini-7: 14.7px;
  --padding-lgi-5: 19.5px;
  --padding-33xl-9: 52.9px;
  --padding-30xl-7: 49.7px;
  --padding-10xs-4: 2.4px;
  --padding-14xl-5: 33.5px;
  --padding-92xl-6: 111.6px;
  --padding-25xl-6: 44.6px;
  --padding-47xl-4: 66.4px;
  --padding-22xl-7: 41.7px;
  --padding-36xl-6: 55.6px;
  --padding-63xl-6: 82.6px;
  --padding-4xs-9: 8.9px;
  --padding-lg-9: 18.9px;
  --padding-15xl: 34px;
  --padding-14xl: 33px;
  --padding-10xs-7: 2.7px;
  --padding-7xs-3: 5.3px;
  --padding-28xl-7: 47.7px;
  --padding-20xl-4: 39.4px;
  --padding-4xl-8: 23.8px;
  --padding-197xl-3: 216.3px;
  --padding-9xs-2: 3.2px;
  --padding-3xl-3: 22.3px;
  --padding-371xl: 390px;
  --padding-281xl: 300px;
  --padding-5xs-3: 7.3px;
  --padding-9xl-1: 28.1px;
  --padding-531xl: 550px;
  --padding-361xl: 380px;
  --padding-3xs-2: 9.2px;
  --padding-8xs-4: 4.4px;
  --padding-125xl: 144px;
  --padding-647xl: 666px;
  --padding-85xl: 104px;
  --padding-164xl: 183px;

  /* Border radiuses */
  --br-xl-5: 20.5px;
  --br-5xl: 24px;
  --br-15xl-7: 34.7px;
  --br-3xl: 22px;
  --br-lgi: 19px;
  --br-5xl-9: 24.9px;
  --br-10xl-3: 29.3px;
  --br-23xl-3: 42.3px;
  --br-7xl-8: 26.8px;
  --br-4xl-2: 23.2px;
  --br-3xl-4: 22.4px;
  --br-13xl-4: 32.4px;
  --br-mid-7: 17.7px;
  --br-3xl-5: 22.5px;
  --br-9xl: 28px;
  --br-21xl-5: 40.5px;
  --br-6xl-6: 25.6px;
  --br-3xl-1: 22.1px;
  --br-9xl-2: 28.2px;
  --br-21xl-4: 40.4px;
  --br-39xl-3: 58.3px;
  --br-17xl-9: 36.9px;
  --br-12xl-9: 31.9px;
  --br-5xs-4: 7.4px;
  --br-5xs-7: 7.7px;
  --br-5xs-8: 7.8px;
  --br-5xs: 8px;
  --br-base-6: 16.6px;
  --br-mid-1: 17.1px;
  --br-xl-6: 20.6px;
  --br-2xl-3: 21.3px;
  --br-11xl: 30px;
  --br-12xl: 31px;
  --br-base: 16px;
  --br-2xs-8: 10.8px;
  --br-3xs-5: 9.5px;
  --br-smi-6: 12.6px;
  --br-10xs-6: 2.6px;
  --br-smi: 13px;
  --br-4xs-7: 8.7px;
  --br-smi-9: 12.9px;
  --br-xs-3: 11.3px;
  --br-mini-9: 14.9px;
  --br-9xs-1: 3.1px;
  --br-base-4: 15.4px;
  --br-2xs-3: 10.3px;
  --br-lg-8: 18.8px;
  --br-smi-7: 12.7px;
  --br-xs-2: 11.2px;
  --br-mini-7: 14.7px;
  --br-10xs: 3px;
  --br-base-2: 15.2px;
  --br-2xs-1: 10.1px;
  --br-4xl-3: 23.3px;
  --br-base-7: 15.7px;
  --br-sm-8: 13.8px;
  --br-lg-2: 18.2px;
  --br-9xs-8: 3.8px;
  --br-lg-9: 18.9px;
  --br-14xl-5: 33.5px;
  --br-3xl-7: 22.7px;
  --br-lgi-9: 19.9px;
  --br-7xl-3: 26.3px;
  --br-7xs-4: 5.4px;
  --br-8xl-2: 27.2px;
  --br-lg-1: 18.1px;
  --br-359xl-4: 378.4px;
  --br-65xl-2: 84.2px;
  --br-80xl: 99px;
  --br-31xl: 50px;
  --br-xl: 20px;
  --br-6xs: 7px;
  --br-lg-5: 18.5px;
  --br-mini: 15px;
  --br-6xs-5: 6.5px;
  --br-6xs-7: 6.7px;
  --br-sm-2: 13.2px;
  --br-7xs-3: 5.3px;
  --br-sm-3: 13.3px;
  --br-6xs-4: 6.4px;
  --br-lgi-2: 19.2px;
  --br-7xs-6: 5.6px;
  --br-3xs: 10px;
  --br-sm-7: 13.7px;
  --br-base-1: 15.1px;
  --br-3xl-3: 22.3px;
  --br-8xl-8: 27.8px;
  --br-21xl: 40px;
  --br-7xs: 6px;
  --br-5xs-2: 7.2px;
  --br-6xs-3: 6.3px;
  --br-base-3: 16.3px;
  --br-5xs-3: 7.3px;
  --br-4xs-9: 8.9px;
  --br-xs-9: 11.9px;
}
